<h2>Tasks:</h2>
  <div class = "container">
      <% Task.all.each do |e| %>
      <h3><%= e.title  %></h3>
      <h4>Due Date: </h4><p><%= e.due_date %><br>
      <h4>Notes: </h4><p><%= e.content %></p>
      <form align="left" name="edit_task_form" method="get" action="/tasks/<%= @task.id %>/edit">
      <label class="button">
      <input name="edit_task" type="submit" id="edit_task" value="Edit This Task">
      </label>
      </form>
      <br>
      <% end %>
  </div>

<form align="left" name="new_task_form" method="get" action="/tasks/new">
<label class="button">
<input name="new_task" type="submit" id="new_task" value="Create New Task">
</label>
</form>
<br>
<form align="left" name="logout_form" method="get" action="logout">
  <label class="button">
  <input name="logout" type="submit" id="submit" value="Log Out">
  </label>
</form>
