<h2>To Do:
  <div class = "container">
      <p><% Task.all.each do |e| %>
        <%= e.title  %><br>
        <%= e.due_date %><br>
        <%= e.content %><br>
        <% end %>
      </p>
  </div>
</h2>

<form align="left" name="new_task_form" method="get" action="/tasks/new">
<label class="button">
<input name="new_task" type="submit" id="new_task" value="Create New Task">
</label>
</form>

<form align="left" name="logout_form" method="get" action="logout">
  <label class="button">
  <input name="logout" type="submit" id="submit" value="Log Out">
  </label>
</form>
