<!doctype HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
    <title>To Do App</title> 
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Your To Do App</h1>
      <%= yield %>
    </div>
  </body>
</html>

<STYLE>
body {
  font-family: Arial, sans-serif;
  text-align: center;
}
h2, h3 {
  text-align: left;
}
form {
  text-align: left;
}
.tasks {
  text-align: left;
}
</STYLE>