<STYLE>
body {
  font-family: Arial, sans-serif;
  text-align: center;
}
</STYLE>

<!doctype HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <title>To Do App</title> 
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Your To Do App</h1>
      <%= yield %>
    </div>
  </body>
</html>
