<!doctype html>
<html>
  <head>
    <title>To Do App</title>
    <!-- <link rel="stylesheet" href="../css/style.css"> -->
  </head>
  <body>

    <div class="container">
      <h1>Welcome to your To Do App</h1>

      <%= yield %>

      <!--<h2>This is located in layout.erb!</h2>-->
      <!--<h2>Don't forget to <strong>yield</strong> your views!</h2>-->
    </div>

  </body>
</html>
